<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="userIO" class="ui.UserIOConsoleImpl"/>

    <bean id="view" class="ui.VendingMachineView">
        <constructor-arg ref="userIO"/>
    </bean>

    <bean id="dao" class="dao.VendingMachineDAOFileImpl"/>

    <bean id="auditDao" class="dao.VendingMachineAuditDaoFileImpl"/>

    <bean id="serviceLayer" class="service.VendingMachineServiceLayerImpl">
        <constructor-arg ref="dao"/>
        <constructor-arg ref="auditDao"/>
    </bean>

    <bean id="controller" class="controller.VendingMachineController">
        <constructor-arg ref="view"/>
        <constructor-arg ref="serviceLayer"/>
    </bean>

</beans>